/*
 * Your colors here
 */
 
 $colors: (
  dark_theme: (
    1: #4c5667,
    2: #3c4452,
    3: #39404c,
    4: #353c48,
    5: #303641,
    6: #2d333e,
    7: #282d37,
    font: #fff,
    font_primary: #bec9da,
    font_secondary: #96a2b4,
    font_regular: #96a2b4,
    font_hover: #f5f5f5,
    navbar: #4c5667,
    bg: #3c4452
  ),
  primary: #00c292,
  success: #00c292,
  danger: #ed4040,
  desactivated: #fb9678,
  selected: #919dae,
  highlighted: #fec107,
  disabled: #434b58,
  border: #4c5562,
  w: #fff,
  b: #000
);