@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin pos($pos, $top, $right: $top, $bottom: $top, $left: $right) {
  position: $pos;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}